body {
  font: 100% Helvetica, sans-serif; }

.picker {
  background-color: #eaad70;
  padding: 10px; }

.navbar {
  background-color: #e85a19;
  color: red; }

.panel-head {
  background-color: #fcc605; }

.side-header {
  Padding: 5px; }

.my-picks {
  background-color: #1ce50d; }

.my-picks-select {
  background-color: #e5da12; }
